// src/styles/components/_image-gallery.scss
.image-gallery {
  display: flex;
  justify-content: center;
  gap: 0.5rem; // Reduced space between images for smaller thumbnails

  .gallery-image {
    width: 200px !important; // Adjusted to a smaller, standard thumbnail size
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: cover; // Ensure consistent aspect ratio

    &:hover {
      transform: scale(1.1); // Zoom effect on hover
    }
  }
}