// src/styles/_cvresume.scss

.cv-resume {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: pxToRem(20);
  padding: pxToRem(20);
  background-color: var(--background-color);
  color: var(--font-color);
}

.cv-resume h1, .cv-resume h2, .cv-resume h3 {
  font-weight: 600;
  color: var(--primary-color);
}

.cv-resume p {
  font-size: pxToRem(16);
  line-height: 1.5;
  color: var(--font-color);
  margin-bottom: pxToRem(16);
}

.cv-resume ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cv-resume li {
  margin-bottom: pxToRem(10);
}

.cv-resume .filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: pxToRem(20);
}

.cv-resume .filters label {
  margin-right: pxToRem(10);
}

.cv-resume .filters select {
  width: 100%;
  padding: pxToRem(10);
  margin-bottom: pxToRem(10);
  border: 1px solid var(--border-color);
  border-radius: pxToRem(5);
}

.cv-resume .filters input[type="range"] {
  width: 100%;
  height: pxToRem(20);
  margin-bottom: pxToRem(10);
  border: 1px solid var(--border-color);
  border-radius: pxToRem(5);
}

.cv-resume .experiences, .cv-resume .education {
  margin-bottom: pxToRem(20);
}

.cv-resume .experience, .cv-resume .education-item {
  margin-bottom: pxToRem(10);
  padding: pxToRem(10);
  border: 1px solid var(--border-color);
  border-radius: pxToRem(5);
}

.cv-resume .experience h3, .cv-resume .education-item h3 {
  font-weight: 600;
  color: var(--primary-color);
}

.cv-resume .experience p, .cv-resume .education-item p {
  font-size: pxToRem(16);
  line-height: 1.5;
  color: var(--font-color);
}