// src/styles/pages/_developed-software.scss

.developed-software {
  padding: pxToRem(40);
  max-width: $pageWidthDesk;
  margin: 0 auto;

  h1 {
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: pxToRem(20);
  }

  .software-item {
    background-color: var(--card-color);
    padding: pxToRem(15);
    border-radius: pxToRem(10);
    margin-bottom: pxToRem(20);
    box-shadow: 0 pxToRem(4) pxToRem(6) rgba(0, 0, 0, 0.1);

    h2 {
      color: var(--primary-color);
      margin-bottom: pxToRem(10);
    }

    p {
      margin-bottom: pxToRem(10);
    }

    a {
      display: inline-block;
      padding: pxToRem(12) pxToRem(24);
      background-color: var(--button-primary-color);
      color: white;
      text-decoration: none;
      border-radius: pxToRem(8);
      margin-top: pxToRem(10);
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        background-color: var(--primary-color);
        box-shadow: 0 pxToRem(2) pxToRem(4) rgba(0, 0, 0, 0.2);
      }
    }
  }

  .appreciation-section {
    margin-top: pxToRem(30);

    p {
      margin-bottom: pxToRem(15);
    }

    .wallet-address {
      display: flex;
      align-items: center;
      margin-bottom: pxToRem(10);

      span {
        margin-right: pxToRem(10);
      }

      button {
        padding: pxToRem(5) pxToRem(10);
        background-color: var(--button-primary-color);
        color: white;
        border: none;
        border-radius: pxToRem(5);
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          background-color: var(--primary-color);
          box-shadow: 0 pxToRem(2) pxToRem(4) rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}